html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.toolbar {
    background: #E01931;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.toolbar .profile {
    float: left;
}

.toolbar .profile img {
    height: 42px;
    width: 42px;
    border-radius: 100px;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
}

.toolbar button {
    width: 60px;
    height: 60px;
    background: #E01931;
    color: #FFFFFF;
    text-align: center;
    border: none;
    font-size: 14pt;
}

.toolbar button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.page {
    background: #FFFFFF;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.page .nav {
    width: 60px;
    background: #333333;
    color: #FFFFFF;
    height: 100%;
}

.page .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page .nav ul li button {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    font-size: 14pt;
    background: #333333;
}

.page .nav ul li button:hover {
    background: rgba(0, 0, 0, 0.2);
}
